#title{
     color: black;
     margin: 15px;
     font:normal normal 400 12pt normal Courier New, sans-serif;
     background:silver;
}
td 
{
     word-wrap: break-word; 
}
#parse:hover{
  color:blue;
    font-size: 10pt;
	cursor: pointer;
}


#wrong {
  font-family: Arial;
  color: black;
  font-size: 15px;
  border-color: Red;
   background: none;
   font-size: 13px;
   font-weight: 400;
  padding: 3px 8px 3px 8px;
  text-decoration: none;
}


#complete {
  font-family: Arial;
  color: black;
  font-size: 15px;
  border-color: green;
  background: none;
   font-size: 13px;
   font-weight: 400;
  padding: 3px 8px 3px 8px;
  text-decoration: none;
}

#addButton:hover {
 color:blue;
    font-size: 10pt;
	cursor: pointer;
}

input[type=button]  
{
  font-family:arial, monospace;
  padding:3px 11px; 
  border:9 none; 
  cursor: default;
  -webkit-border-radius: 5px;
  border-radius: 60px;
  background-color: silver;
}

#download:hover{
  color:blue;
    font-size: 10pt;
	cursor: pointer;
}

body {
    margin: 0px 0px 0px 0px;
	background: url(blue3.jpg);
	color: white;
}

div {
		background: silver;
		padding: 10px;
		margin: auto auto; 
		opacity: 0.8; 
		width: 62%;
	}
